#!/bin/bash
#[[ -z $DISPLAY && $XDG_VTNR -eq 1 ]] && startx
#[[ -n $DISPLAY && $XDG_VTNR -eq 1 && $TERM =~ (xterm|st) ]] && tmux


export path="
/usr/local/sbin
/usr/local/bin
/usr/bin
/usr/lib/jvm/default/bin
/usr/bin/site_perl
/usr/bin/vendor_perl
/usr/bin/core_perl
$HOME/.bin
# $HOME/.yarn/bin
# $HOME/.go/bin
# $HOME/.config/yarn/global/node_modules/.bin
# $HOME/.cargo/bin
"
export GEM_HOME="$(ruby -e 'puts Gem.user_dir')"
export path="$(/bin/echo "$path" | /bin/sed 's/#.*$//' | /bin/sed '/^$/d' | /bin/sed 's/ //g' | /bin/tr '\n' ':')"

# SUDO
if [[ $(id -u) -eq 0 ]] ;then
  for i in yay trizen makepkg
  do
    alias "$i"="sudo -E -u sudo $i"
  done
else
  for i in btrfs waydroid libinput powerpill  reflector mkfs.btrfs  mkinitcpio docker locale-gen modprobe usermod lvs lvresize lvremove resize2fs  gpasswd  groupdel useradd killall vgs vgchange cryptsetup ego epro cfdisk etc-update shutdown genkernel blkid ip df iw lscpu uname rc-update su cryptsetup pm-suspend pkill fdisk pacman fdisk systemctl nmcli mount umount emerge reboot grub-mkconfig visudo pacman-key
    do
    alias "$i"="sudo -E $i"
  done
  fi

# Install
OS=$(cat /etc/os-release | grep ^ID= | cut -d= -f2-)
case $OS in
    artix|arch|garuda) 	alias i="pacman -S --noconfirm --overwrite \* --disable-download-timeout"
                  alias ir="pacman -Rsu --noconfirm"
                  alias iu="pacman -Sy && powerpill -Su && paru -Su"
# alias rmpkg="sudo pacman -Rdd"
# alias cleanup='sudo pacman -Rns (pacman -Qtdq)' # Cleanup orphaned packages
# alias fixpacman="sudo rm /var/lib/pacman/db.lck"
# alias upd='/usr/bin/garuda-update'
                   	# alias ii="paru -S" ;;
                   	alias ii="paru -S --nouseask" ;;
    funtoo)	alias i="emerge --autounmask --autounmask-write -v" ;;
    *) echo "$HOME/.aliases: Distribution not recognized" ;;
esac


# colors
darkgrey="$(tput bold ; tput setaf 0)"
white="$(tput bold ; tput setaf 7)"
blue="$(tput bold; tput setaf 4)"
cyan="$(tput bold; tput setaf 6)"
nc="$(tput sgr0)"
export PS1="\[$blue\][ \[$cyan\]\H \[$darkgrey\]\w\[$darkgrey\] \[$blue\]]\\[$darkgrey\]# \[$nc\]"
export LD_PRELOAD=""

# [[ -d /opt/asdf-vm ]] && . /opt/asdf-vm/asdf.sh
export GOPATH="$HOME/.go"

#Manuais
export EDITOR="helix"
export TERMINAL=kitty
export BROWSER=brave
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
export XDG_RUNTIME_DIR=/run/user/$(id -u)
#export manvim="/usr/share/vim/$(ls /usr/share/vim | grep [1-9])/doc"
export manmutt="/usr/share/doc/mutt"
export archwiki="/usr/share/doc/arch-wiki/"

#Renames
# alias c="$@ source $HOME/.bin/c"
alias n="nnn -de -P p && . $HOME/.config/nnn/.lastd  && rm -f $HOME/.config/nnn/.lastd > /dev/null "
export NNN_FIFO="/tmp/nnn.fifo"
export NNN_PLUG='p:preview-tui;f:finder;o:fzopen;q:mocq;d:diffs;t:nmount;v:imgview'
export NNN_ICONLOOKUP=1 
export SPLIT='v'
alias ls='ls --color=always -C --group-directories-first'
alias l='exa --color=always --group-directories-first --icons' # preferred listing
alias l.="exa -a | grep -E '^\.'"                                     # show only dotfiles
#alias ls='colorls --sd'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias df='df -h'
alias cp='cp -vr'
alias bd=". bd -si"
alias rm='rm -rfv'
alias shred="shred -zf"
alias wget="wget -U 'noleak'"
alias curl="curl --user-agent 'noleak'"
alias ipinfo="curl ipinfo.io/ip"
alias tree="tree --noreport -C"
# alias tree="tree -C"
alias tail="tail --follow -n 30"
alias g="git"
alias please='sudo'
alias hw='hwinfo --short'                          # Hardware Info

# Replace some more things with better alternatives
alias cat='bat --style header --style snip --style changes --style header'

# Common use
alias grubup="sudo update-grub"
alias tarnow='tar -acf '
alias untar='tar -xvf '
alias wget='wget -c '
alias psmem='ps auxf | sort -nr -k 4'
alias psmem10='ps auxf | sort -nr -k 4 | head -10'
alias ip="ip -color"

#preguiças
alias q='exit'
alias x='startx'
alias kl='killall'
alias ..='cd .. && l'
alias ...='cd ../.. && l'
alias ....='cd ../../.. && l'
alias .....='cd ../../../.. && l'
alias ......='cd ../../../../.. && l'

#atalhos
alias funtoomount="mount /dev/mapper/lvm-funtoo /mnt/funtoo && cd /mnt/funtoo && mount -t proc none proc && mount --rbind /sys sys && mount --rbind /dev dev"
alias funtoolog="cd /mnt/funtoo && sudo env -i HOME=/root TERM=\$TERM chroot . bash -l"
alias mountp="mount -w -o uid=$(id -u $USER),gid=$(id -g $USER)"
[[ -n $* ]] && alias aliases="source ~/.config/fish/config.fish" || alias aliases="source ~/.bashrc"
alias sys-suspend='systemctl suspend -i'
# alias cdr='cd - &> /dev/null'
#alias ss='set +x && set +x'
alias tempo="curl http://wttr.in/$(basename "$(ls -l | grep localtime | cut -d'>' -f2-)")"
alias pop='Popcorn-Time'
alias dddd='sdcv -c'

#Tmux
alias t="tmux"
alias T="tmuxp load"
alias ts='tmux attach-session -t'
alias tn='tmux new -s'
alias tl='tmux ls'


alias out="pkill -u $USER"
alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"

alias listfiles="find . -maxdepth 1 -type f,l -not -path '*/\.*' | sort"
alias listdirs="find . -mindepth 1 -maxdepth 1 -type d -not -path '*/\.*' | sort"
alias out="pkill -u $USER"
alias gs='git status'
alias c="$@ source $HOME/.bin/c"
#alias ranger="ranger --choosedir=$HOME/.rangerdir;cd "$(cat $HOME/.rangerdir)""
alias list-packages="pacman -Qet | awk {print $1}"


alias big="expac -H M '%m\t%n' | sort -h | nl"     # Sort installed packages according to size in MB
alias gitpkg='pacman -Q | grep -i "\-git" | wc -l' # List amount of -git packages

# Get fastest mirrors
alias mirror="reflector -f 30 -l 30 --number 10 --verbose --save /etc/pacman.d/mirrorlist"
alias mirrord="reflector --latest 50 --number 20 --sort delay --save /etc/pacman.d/mirrorlist"
alias mirrors="reflector --latest 50 --number 20 --sort score --save /etc/pacman.d/mirrorlist"
alias mirrora="reflector --latest 50 --number 20 --sort age --save /etc/pacman.d/mirrorlist"


alias helpme='cht.sh --shell'
alias pacdiff='sudo -H DIFFPROG=meld pacdiff'
alias tb='nc termbin.com 9999'

# Get the error messages from journalctl
alias jctl="journalctl -p 3 -xb"

# Recent installed packages
alias rip="expac --timefmt='%Y-%m-%d %T' '%l\t%n %v' | sort | tail -200 | nl"




