#!/bin/bash
#[[ -z $DISPLAY && $XDG_VTNR -eq 1 ]] && startx
#[[ -n $DISPLAY && $XDG_VTNR -eq 1 && $TERM =~ (xterm|st) ]] && tmux

export path="
/bin
#comment test
/sbin
/usr/bin
/usr/sbin
/usr/local/bin
/usr/local/sbin
/usr/bin/site_perl
/usr/bin/vendor_perl
/usr/bin/core_perl
/usr/games
/usr/games/bin
/usr/lib64/kde4/libexec
/usr/lib64/qt/bin
/usr/lib64/ruby/gems/2.1.0
/usr/lib64/ruby/gems/2.1.0/gems/jekyll-3.7.3/exe
/usr/lib64/ruby/gems/2.1.0/gems/bundler-1.16.1/exe
/usr/lib64/python2.7/site-packages
/usr/lib64
/usr/share/texmf/bin
/usr/share/spectrwm/
/src/sbin
/opt/bin
/opt/andoid-sdk/tools
/opt/andoid-sdk/platform-tools
/opt/andoird-sdk/tools
/opt/andoird-sdk/platform-tools
/opt/blender
/home/linuxbrew/.linuxbrew/bin
/usr/lib/emscripten
$HOME/.gem/ruby/2.1.0/bin
$HOME/.gem/ruby/2.4.0/bin
$HOME/.gem/ruby/2.6.0/bin
$HOME/.gem/ruby/3.0.0/bin
$HOME/.bin
$HOME/.scripts
$HOME/.go/bin
$HOME/.yarn/bin
$HOME/.config/yarn/global/node_modules/.bin
$HOME/.local/bin
$HOME/.rvm/bin
$HOME/.rvm/rubies/ruby-2.7.1/lib/ruby/gems/2.7.0/gems/mailcatcher-0.7.1/bin
$HOME/.rvm/rubies/ruby-2.7.1/lib/ruby/gems/2.7.0/gems/thin-1.5.1/lib
$HOME/.cargo/bin
"
export GEM_HOME="$(ruby -e 'puts Gem.user_dir')"
export path="$(/bin/echo "$path" | /bin/sed 's/#.*$//' | /bin/sed '/^$/d' | /bin/sed 's/ //g' | /bin/tr '\n' ':')"

# SUDO
if [[ $(id -u) -eq 0 ]] ;then
  for i in yay trizen makepkg
  do
    alias "$i"="sudo -E -u sudo $i"
  done
else
  for i in mkinitcpio usermod lvs lvresize lvremove resize2fs  gpasswd  groupdel useradd killall vgs vgchange cryptsetup ego epro cfdisk etc-update shutdown genkernel blkid ip df iw lscpu uname rc-update su cryptsetup pm-suspend pkill fdisk pacman fdisk systemctl nmcli mount umount emerge reboot grub-mkconfig visudo pacman-key
    do
    alias "$i"="sudo -E $i"
  done
  fi

# Install
OS=$(cat /etc/os-release | grep ^ID | cut -d= -f2-)
case $OS in
    artix|arch) 	alias i="pacman -S --noconfirm"
                   	alias ii="yay -S --noconfirm" ;;
    funtoo)	alias i="emerge --autounmask --autounmask-write -v" ;;
    *) echo "$HOME/.aliases: Distribution not recognized" ;;
esac


# colors
darkgrey="$(tput bold ; tput setaf 0)"
white="$(tput bold ; tput setaf 7)"
blue="$(tput bold; tput setaf 4)"
cyan="$(tput bold; tput setaf 6)"
nc="$(tput sgr0)"
export PS1="\[$blue\][ \[$cyan\]\H \[$darkgrey\]\w\[$darkgrey\] \[$blue\]]\\[$darkgrey\]# \[$nc\]"
export LD_PRELOAD=""

. /opt/asdf-vm/asdf.sh
export GOPATH="$HOME/.go"
export WEKA_HOME="$HOME/.wekafiles"
export ANDROID_HOME=/opt/android-sdk

#Manuais
export EDITOR="kak"
export TERMINAL=kitty
export BROWSER=brave
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
export XDG_RUNTIME_DIR=/run/user/$(id -u)
#export manvim="/usr/share/vim/$(ls /usr/share/vim | grep [1-9])/doc"
export manmutt="/usr/share/doc/mutt"
export archwiki="/usr/share/doc/arch-wiki/"
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

#eval $(/home/linuxbrew/.linuxbrew/bin/brew shellenv)

#Renames
alias ls='ls --color=always -C --group-directories-first'
#alias ls='colorls --sd'
alias dir='dir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias df='df -h'
alias cp='cp -vr'
alias bd=". bd -si"
alias rm='rm -rv'
alias shred="shred -zf"
alias wget="wget -U 'noleak'"
alias curl="curl --user-agent 'noleak'"
alias ipinfo="curl ipinfo.io/ip"
# alias tree="tree --noreport -C"
alias tree="tree -C"
alias tail="tail --follow -n 30"


#preguiças
alias sn="sncli"
alias q='exit'
alias x='startx'
alias kl='killall'
alias yt='youtube-dl'
alias ..='cd .. && ls'
alias ...='cd ../.. && ls'
alias ....='cd ../../.. && ls'

#atalhos
alias funtoomount="mount /dev/mapper/lvm-funtoo /mnt/funtoo && cd /mnt/funtoo && mount -t proc none proc && mount --rbind /sys sys && mount --rbind /dev dev"
alias funtoolog="cd /mnt/funtoo && sudo env -i HOME=/root TERM=$TERM chroot . bash -l"
alias mountp="mount -w -o uid=$(id -u $USER),gid=$(id -g $USER)"
[[ -n $@ ]] && alias aliases="source ~/.config/fish/config.fish" || alias aliases="source ~/.bashrc"
alias sys-suspend='systemctl suspend -i'
# alias cdr='cd - &> /dev/null'
#alias ss='set +x && set +x'
alias tempo="curl http://wttr.in/$(basename "$(ls -l | grep localtime | cut -d'>' -f2-)")"
alias pop='Popcorn-Time'
alias dddd='sdcv -c'

#Tmux
alias t="tmux"
alias T="tmuxp load"
alias ts='tmux attach-session -t'
alias tn='tmux new -s'
alias tl='tmux ls'

# Static
alias h='hugo server -D'
alias hf="hugo server -D  --port 1314 --source $DIR_hff"
alias he="hugo server -D --port 1315 --source $DIR_hee"

#VirtualBox
alias vb='VBoxManage'
alias vc='VBoxManage controlvm'
alias vw='VBoxManage controlvm windows'


alias out="pkill -u $USER"
alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"
#alias ls='colorls --sd'

alias listfiles="find . -maxdepth 1 -type f,l -not -path '*/\.*' | sort"
alias listdirs="find . -mindepth 1 -maxdepth 1 -type d -not -path '*/\.*' | sort"
alias out="pkill -u $USER"
alias gs='git status'
#alias c="$@ source c"
alias c="$@ source $HOME/.bin/c"
#alias ranger='ranger --choosedir=$HOME/.rangerdir;cd "$(cat $HOME/.rangerdir)"'
alias cinnamonbackup="dconf dump /org/cinnamon/ > $HOME/.cinnamon.config"
alias cinnamonrestore="dconf load /org/cinnamon/ < $HOME/.cinnamon.config"
alias list-packages='pacman -Qet | awk "{print $1}"'
# [[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm" #Da erro no fish

