*
!/.*/


!/.bashrc
!/.bashrc_garuda
!/.bash_logout
!/.bash_profile
!/.profile
!/.zshrc
!/.xinitrc

!/.fonts.conf
!/.gtkrc-2.0
!/.yarnrc
!/.zcompdump


!/.icons/
!/.kde4/

!/.gitignore
!/.config/**/


!/.config/alacritty/**
!/.config/autostart/**
!/.config/bleachbit/**
!/.config/Code - OSS/User/settings.json
!/.config/deluge/**
!/.config/DisplayCAL/**
!/.config/fastfetch/**
!/.config/fish/**
!/.config/gtk-3.0/**
!/.config/gtk-4.0/**
!/.config/jamesdsp/**
!/.config/kdedefaults/**
!/.config/Kvantum/**
!/.config/latte/**
!/.config/libreoffice/**
!/.config/mpv/mpv.conf
!/.config/neofetch/**
!/.config/octopi/**
!/.config/psd/**
!/.config/smplayer/**
!/.config/vlc/**
!/.config/xsettingsd/**
!/.config/akregatorrc
!/.config/arkrc
!/.config/baloofileinformationrc
!/.config/baloofilerc
!/.config/bluedevilglobalrc
!/.config/device_automounter_kcmrc
!/.config/dolphinrc
!/.config/filetypesrc
!/.config/gtkrc
!/.config/gtkrc-2.0
!/.config/katerc
!/.config/kateschemarc
!/.config/katevirc
!/.config/kcminputrc
!/.config/kconf_updaterc
!/.config/kded5rc
!/.config/kdeglobals
!/.config/kfontinstuirc
!/.config/kglobalshortcutsrc
!/.config/khotkeysrc
!/.config/kiorc
!/.config/klipperrc
!/.config/kmenueditrc
!/.config/kmixrc
!/.config/knfsshare
!/.config/konsolerc
!/.config/konsolesshconfig
!/.config/krunnerrc
!/.config/kscreenlockerrc
!/.config/kservicemenurc
!/.config/ktimezonedrc
!/.config/kwinrc
!/.config/kwinrulesrc
!/.config/kwritemetainfos
!/.config/kwriterc
!/.config/kxkbrc
!/.config/lattedockrc
!/.config/libinput-gestures.conf
!/.config/okularpartrc
!/.config/partitionmanagerrc
!/.config/plasma-localerc
!/.config/plasmaparc
!/.config/plasmarc
!/.config/plasmashellrc
!/.config/powerdevilrc
!/.config/powermanagementprofilesrc
!/.config/QtProject.conf
!/.config/starship.toml
!/.config/systemmonitorrc
!/.config/systemsettingsrc
!/.config/touchpadrc
!/.config/touchpadxlibinputrc
!/.config/trashrc
!/.config/Trolltech.conf
!/.config/user-dirs.dirs
!/.config/user-dirs.locale
