#!/usr/bin/env bash

# virtualbox
vbox=$(dmesg |grep -io virtualbox)
if [ ! -z "$vbox" ]
then
  /usr/bin/VBoxClient-all
fi

# wallpaper
#exec feh --bg-scale /usr/share/blackarch/wallpaper.jpg &
picom -b
$HOME/.config/conky/conky.sh &
/usr/bin/syncthing --no-browser --logfile=$HOME/.cache/syncthing.log -no-restart -logflags=3 &
source xprofilex
