#!/usr/bin/env bash

# virtualbox
vbox=$(sudo dmesg |grep -io virtualbox)
if [ ! -z "$vbox" ]
then
  /usr/bin/VBoxClient-all
fi

# wallpaper
exec feh --bg-scale $HOME/Pictures/backgrounds/pinguim.png &
which picom && picom -b
which conky && $HOME/.config/conky/conky.sh &
# which syncthing && /usr/bin/syncthing --no-browser --logfile=$HOME/.cache/syncthing.log -no-restart -logflags=3 &
[[ $(cat /proc/swaps | wc -l) -eq 1 ]] && sudo swapon /home/.swap
[[ -f "$HOME/.xprofilex" ]] && source $HOME/.xprofilex
