[Desktop Entry]
Type=Application
Exec=/root/.config/autostart/conky-meu.sh
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[pt_BR]=conky
Comment[pt_BR]=No description
X-GNOME-Autostart-Delay=0
