[Desktop Entry]
Type=Application
Exec=/bin/pulseaudio --start --log-target=syslog
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=pulseaudio
Comment[en_US]=sound
X-GNOME-Autostart-Delay=0
